<div class="component">
	<h2>{{title}}</h2>
	<hr>
	<form (ngSubmit)="placeOrder()" [formGroup]="form" *ngIf="!order">
		<div class="content" *ngIf="!restaurant">
			<div>
				<label for="restaurant_name"><h3>1. Enter Restaurant Name:<br></h3></label>
				<input #restaurant_name id="restaurant_name"
				 (keyup)="searchRestaurant(restaurant_name.value)" placeholder="Search Restaurant"/>
			</div>
			<div *ngFor="let restaurant of restaurants | async"
				(click)="setRestaurant(restaurant)"
				class="search-result">
				{{restaurant.name}}
			</div>
		</div>
		<div class="content" *ngIf="restaurant">
			<addmeal-component [restaurant]="restaurant" [form]="form"></addmeal-component>
		</div>
		<button type="submit" [disabled]="!form.valid">Finalize Order</button>
	</form>
	<div *ngIf="order" class="content">
		Order ID: {{order.id}}<br>		
		<a routerLink="/">Home</a>
	</div>
</div>
